<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="register-page">
    <h1 class="register-page__title">Register</h1>
  
    <% if (errors && errors.length > 0) { %>
      <div class="register-page__errors">
        <ul class="register-page__error-list">
          <% errors.forEach(error => { %>
            <li class="register-page__error-item"><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>

    <form action="/register" method="POST" class="register-form">
      <label class="register-form__label">
        Email
        <input type="email" name="email" class="register-form__input" required>
      </label>
      <label class="register-form__label">
        Password
        <input type="password" name="password" class="register-form__input" required>
      </label>
      <button type="submit" class="register-form__submit">Register</button>
    </form>
		<div class="login-register">
      <p>Have account?</p>
      <a href="/login">Login</a>
    </div>
  </div>
</body>
</html>
